body, nav {
  background-color: #FAFAD2 !important;
}

.grad1 {
  background-color: #BDB76B ; /* For browsers that do not support gradients */
  background-image: linear-gradient(180deg, #BDB76B , #FAFAD2);
}
.grad2 {
  background-color: #DAA520 ;
  background-image: linear-gradient(180deg, #DAA520 , #FAFAD2);
}
.grad3 {
  background-color: #B8860B ;
  background-image: linear-gradient(180deg, #B8860B , #FAFAD2);
}
.grad4 {
  background-color: #F0E68C ;
  background-image: linear-gradient(180deg, #F0E68C , #FAFAD2);
}
.grad5 {
  background-color: #FAFAD2;
  background-image: linear-gradient(180deg, #FAFAD2 , #ffffeb);
}


/* .navbar {
  max-height: 5cm;
} */

@media screen and (min-width: 768px) {
  .nav-link, .navbar-nav {
    height: 5cm !important;
    vertical-align: middle;
    line-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
  }
}

.foto-equipe {
    width: 70px;
}


#logo_menu {
    max-height: 5cm;
}

@media screen and (max-width: 480px) {
  #logo_menu {
    max-height: 3cm;
  }
}


.marrom {
    color: #553828 !important;
}

.verde {
    color: #3b6743 !important;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
