.foto-equipe {
    width: 70px;
}


#logo_menu {
    max-height: 50px;
}

.marrom {
    color: #553828 !important;
}

.verde {
    color: #3b6743 !important;
}

/* li > a:hover {
    color: #3b6743 !important;
} */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
