{% extends 'base.html' %}

{% block content %}

<div class="container text-justify">
    <h1>Concurso de ilustrações</h1>
    <hr />
    <p>Concurso de ilustrações realizado pela instituição parceira câmpus Gaspar. A primeira imagem foi a vencedora do concurso. Caso queira saber mais sobre o concurso, entre em contato com o do laboratório ambiental do IFSC Câmpus Gaspar pelo e-mail: <a href="mailto:ambiental.gas@ifsc.edu.br">ambiental.gas@ifsc.edu.br</a></p>

    <div class="col">
        <img src="img/concurso/1.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/2.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/3.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/4.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/5.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/6.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/7.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/8.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/9.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/10.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/11.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/12.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/13.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/14.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/15.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/16.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/17.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/18.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
        <img src="img/concurso/19.jpeg" alt="Imagens do concurso de ilustracoes" class="mx-auto d-block img-responsive mt-3 img-fluid" width="800">
    </div>

</div>

{% endblock %}
