{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-xl-4 col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="media">
                    <div class="avatar-md profile-user-wid mt-1 mr-4">
                        <img class="foto-equipe rounded-circle img-fluid" src="img/equipe/micheline.jpeg" alt="Foto Perfil">
                    </div>

                    <div class="media-body overflow-hidden">
                        <h5 class="font-size-15">Micheline Raquel de Barros</h5>
                        <p class="text-muted mb-4">Professora no Instituto Federal de Santa Catarina</p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="px-4 py-3 border-top text-center">
                <p class="text-muted">Atuação</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-primary">Coordenação</span>
                    </li>
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-warning">Produção artística</span>
                    </li>
                    <!-- <li class="list-inline-item mr-1">
                        <span class="badge badge-success">Exemplo 2</span>
                    </li>
                    <li class="list-inline-item">
                        <span class="badge badge-secondary">Exemplo 3</span>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="media">
                    <div class="avatar-md profile-user-wid mt-1 mr-4">
                        <img class="foto-equipe rounded-circle img-fluid" src="img/equipe/eduardo.jpeg" alt="Foto Perfil">
                    </div>

                    <div class="media-body overflow-hidden">
                        <h5 class="font-size-15">Eduardo Henrique Goulin</h5>
                        <p class="text-muted mb-4">Professor no Instituto Federal de Santa Catarina</p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="px-4 py-3 border-top text-center">
                <p class="text-muted">Atuação</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-primary">Coordenação</span>
                    </li>
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-warning">Produção artística</span>
                    </li>
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-success">Exemplo 2</span>
                    </li>
                    <li class="list-inline-item">
                        <span class="badge badge-secondary">Exemplo 3</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="media">
                    <div class="mt-1 mr-4">
                        <img class="foto-equipe rounded-circle img-fluid" src="img/equipe/alexandre.jpg" alt="Foto Perfil">
                    </div>

                    <div class="media-body overflow-hidden">
                        <h5 class="text font-size-15">Alexandre A. A. M. de Abreu</h5>
                        <p class="text-muted mb-4">Professor no Instituto Federal de Santa Catarina</p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="px-4 py-3 border-top text-center">
                <p class="text-muted">Atuação</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-secondary">Desenvolvimento do site</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="media">
                    <div class="avatar-md profile-user-wid mt-1 mr-4">
                        <img class="foto-equipe rounded-circle img-fluid" src="img/equipe/cintia.jpeg" alt="Foto Perfil">
                    </div>

                    <div class="media-body overflow-hidden">
                        <h5 class="font-size-15">Cinthia Wambier Adimari</h5>
                        <p class="text-muted mb-4">Professora no Instituto Federal de Santa Catarina</p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="px-4 py-3 border-top text-center">
                <p class="text-muted">Atuação</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-danger">Maquete 3D</span>
                    </li>
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-success">Produção digital</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="media">
                    <div class="avatar-md profile-user-wid mt-1 mr-4">
                        <img class="foto-equipe rounded-circle img-fluid" src="img/equipe/gustavo.jpg" alt="Foto Perfil">
                    </div>

                    <div class="media-body overflow-hidden">
                        <h5 class="font-size-15">Gustavo Bail</h5>
                        <p class="text-muted mb-4">Aluno no Instituto Federal de Santa Catarina</p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="px-4 py-3 border-top text-center">
                <p class="text-muted">Atuação</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-info">Bolsista</span>
                    </li>
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-warning">Produção artística</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="media">
                    <div class="avatar-md profile-user-wid mt-1 mr-4">
                        <img class="foto-equipe rounded-circle img-fluid" src="img/equipe/luana.jpeg" alt="Foto Perfil">
                    </div>

                    <div class="media-body overflow-hidden">
                        <h5 class="font-size-15">Luana Porfirio</h5>
                        <p class="text-muted mb-4">Aluna no Instituto Federal de Santa Catarina</p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="px-4 py-3 border-top text-center">
                <p class="text-muted">Atuação</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-info">Bolsista</span>
                    </li>
                    <li class="list-inline-item mr-1">
                        <span class="badge badge-warning">Produção artística</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}
