{% extends 'base.html' %}

{% block content %}

<div class="container text-justify">
    <h1>Ilustrações</h1>
    <hr />
    <br />
    <br />
    <p>Ilustrações criadas pelos bolsistas do projeto.</p>
    <img src="img/borboleta1.jpeg" alt="Borboletas coloridas desenhadas à mão" width="800px" class="mx-auto d-block">
    <br />
    <br />
    <img src="img/borboleta2.jpeg" alt="Borboletas coloridas desenhadas à mão" width="800px" class="mx-auto d-block">
    <br />
    <br />
    <!-- <img src="img/borboleta.jpeg" alt="Borboletas coloridas desenhadas à mão"> -->
    <img src="img/borboleta3.jpeg" alt="Borboletas coloridas desenhadas à mão" width="800px" class="mx-auto d-block">
    <br />
    <br />
    <img src="img/borboleta4.jpeg" alt="Borboletas coloridas desenhadas à mão" width="800px" class="mx-auto d-block">
    <br />
    <br />

    <h1>Selos</h1>
    <hr />
    <img src="img/logo-amarelo.jpeg" alt="Selos desenhados à mão" width="800px" class="mx-auto d-block">
    <br />
    <br />
    <img src="img/logo-laranja.jpeg" alt="Selos desenhados à mão" width="810px" class="mx-auto d-block">
    <br />
    <br />
</div>

{% endblock %}
