{% extends 'base.html' %}

{% block content %}
<!-- <div class="container-fluid px-0 mx-0">
    <div class="row px-0 mx-0">
        <div class="col-12">
            <img src="img/planta3d.jpg" alt="Planta 3d" usemap="#image-map" class="img-responsive mx-auto d-block"
            style="max-width: 99%"  />

            <map name="image-map">
                <area alt="Entrada da casa" title="Entrada da casa" href="#" coords="490,858,511,639,424,583,361,637,341,841" shape="poly">
            </map>
        </div>
    </div>
</div> -->

<!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="entrada">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Video exemplo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <iframe width="840" height="473" src="https://www.youtube.com/embed/yTohaOozw28" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="d-block mx-auto" style="max-width: 99%;"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <p style="text-align: justify;text-justify: inter-word;">Esse site é resultante do trabalho em equipe do projeto de extensão do IFSC – Campus Canoinhas edital FINANCIAMENTO
        INTERNO (2019_PROEX 34 - Projetos de Média Duração 2020) - intitulado “Representação visual da evolução das espécies
        analisadas por Fritz Muller”. Como alternativa para aproximar o público das descobertas do pesquisador evolucionista,
        buscou-se por alternativas em decorrência da pandemia da Covid-19. Assim, o projeto interdisciplinar que envolve as
        áreas de Artes Visuais e Biologia, foi ajustado e tornou-se virtual, enriquecendo o grupo com participantes das áreas de
        Informática e Arquitetura que possibilitaram a mostra virtual do Museu através desse site. Criamos a representação da
        arquitetura do Museu, um vídeo explicativo representando o mimetismo Mülleriano (mais significativa contribuição de
        Fritz com as descobertas de Charles Darwin), com a atuação dos bolsistas, e a coleção de borboletas Heliconius spp.
        aquareladas pelos estudantes, representando a espécie modelo do mimetismo Mülleriano.</p>
    </div>
    <div class="row">
            <video autoplay="autoplay" loop="loop" controls="controls" class="m-auto p-0">
              <source src="videos/maquete-eletronica.mp4" type="video/mp4">
            </video>
            <p class="text-center mt-5">
                Este <a href="sobre.html">site</a> ainda está em desenvolvimento. Agradeçemos a visita!
            </p>
        </div>
    </div>
</div>
{% endblock %}
