{% extends 'base.html' %}

{% block content %}

<div class="container text-justify">
    <h1>Sobre</h1>
    <hr />
    <p>
        Este espaço virtual visa hospedar informações sobre as contribuições científicas do biólogo Johann Friedrich Theodor Müller, nosso Fritz Müller, o alemão naturalizado brasileiro em Santa Catarina que viveu entre Florianópolis e Blumenau a partir de sua chegada em 1852 e contribuiu com as pesquisas sobre Ecologia e Evolução no livro “A origem das espécies” de Charles Darwin.
    </p>
    <p>
        Na sexta edição do livro o cientista é citado 17 vezes ao comprovar a teoria do mimetismo que explica que as espécies se disfarçam, para se proteger dos predadores e criam mutações para manterem sua perpetuação. Assim surgiu o mimetismo mülleriano, comprovado por Fritz por meio das borboletas e dos crustáceos.
    </p>
    <p>
        A importante contribuição e a personalidade incrível pesquisador é celebrada no seu aniversário de 200 anos que será comemorado no próximo 31 de março de 2022.
    </p>
    <p>
        O Instituto Federal de Santa Catarina – IFSC, não poderia deixar de comemorar junto com todas as instituições científicas a vida desse homem que nos deixou um legado sobre a ciência e sobre a pesquisa em tempos e condições tão restritas como o final do século XIX no sul do Brasil.
    </p>
</div>

{% endblock %}
